@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Roboto Slab', serif; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
  .header__one {
    display: flex;
    justify-content: space-between;
    flex: 1; }
  .header__logo {
    display: block; }
  .header__navtoggle {
    display: block;
    font-size: 2rem;
    cursor: pointer; }

.nav {
  display: flex; }
  .nav__link {
    display: block;
    padding: .8rem;
    font-size: 2rem;
    text-decoration: none;
    color: inherit; }

.hero {
  min-height: 40rem;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4)), url("/img/code_pic.jpg");
  background-position: center;
  background-size: cover;
  position: relative; }
  .hero__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    color: #fff;
    text-align: center; }
  .hero__header {
    font-size: 5rem;
    text-transform: uppercase; }
  .hero__subtext {
    font-size: 1.6rem; }
  .hero__btn {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    background: #42cc77;
    color: inherit;
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: .8rem; }

@media (min-width: 500px) {
  .header {
    align-items: center; }
    .header__navtoggle {
      display: none; } }

@media (max-width: 500px) {
  .header {
    flex-direction: column; }
    .header__one {
      padding: .5rem; }
    .header__two {
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: .5s all; }
      .header__two.show {
        height: 20rem;
        opacity: 1; }
  .nav {
    flex-direction: column; } }
